   tr{
        display: block;        
    }

    .row1, .row2{border-bottom: 4px solid #D3D3D3;}
    .one, .four, .seven {border-right: 4px solid #D3D3D3;}
    .three, .six, .nine {border-left: 4px solid #D3D3D3;}


    .one,.two, .three, .four, .five, .six, .seven, .eight, .nine {
        width: 100px;
        height: 100px;
        text-align: center;
        font-size:80px;
        font-weight: 100px;
        font-family: 'Courier New', Courier, monospace;
            }   


.main_div{
text-align: center;
margin-top: 150px;
margin-bottom: 150px;
position: relative;
}

.winner_green{
    background-color:  #E4F9F5;
}

.score{
    margin-bottom: 40px;
    display: block;
}

.player_x, .player_o{
    display: inline-block;
    background-color: aqua;
    border-radius: 30%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.player_xs, .player_os {
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.main_table{
    margin-left: auto;
  margin-right: auto;
   position: absolute;
}

.turn {
    display: inline-block;
}

body{
    /* background-color: gainsboro; */
    background-color:  #14bdac;
}

.restart{
    margin-top: 40px;
    margin: 40px auto;
    border-radius: 30%;
    background-color:  aqua;
    height: 30px;
    width: 90px;
}

.result_div{
    position: relative;
    width: 320px;
    height: 320px;
}

.result{
    position: absolute;
    opacity: 0.9;
    width: 320px;
    height: 320px;
    background-color: azure;
    /* color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-weight: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:30%;
} 

.result_opacity{
    /* opacity: 0.5; */
}